<div class="container text-center">
    <h3><em>Bookings</em></h3>
    <div class="card bg-dark text-white">
        <div class="card-body">
            {{#each booking}}
            <p><strong>Name</strong>: {{passengerId.firstName}} {{passengerId.lastName}}
                <strong>Username</strong>: {{passengerId.username}}</p>
            <p><strong>Destination Station</strong>: {{destinationStationId.location}} </p>
            <p><strong>Seat Number</strong>:{{seatNumber}} <strong>Time</strong>:{{time}}</p>
            <p> <strong>Date</strong>: {{date}} </p>
            <form method="POST" action="/api/login/manager/checkIn/{{_id}}?_method=PUT">
                <button class="btn btn-dark" type="submit">Check In</button>
            </form>

        </div>

        <hr>
        {{/each}}
    </div>
    <br>
</div>