<div class="container text-center">
    <h3><em>Trains Status</em></h3>
    {{#each trains}}
    <div class="card bg-dark text-white">
        <div class="card-body">
            <p><strong>Size</strong> : {{Size}}</p>
            <p><strong>Seat</strong>: {{AvailableSeat}} </p>
            <p><strong>Color</strong> : {{Color}}</p>
            <p><strong>Available For Work</strong> : {{TrainAvailable}}</p>
        </div>
        <form method="POST" action="/api/login/manager/train/checkout/{{_id}}?_method=PUT">
            <button class="btn btn-dark" type="submit">CheckOut For Maintenance</button>
        </form>
        <hr>
    </div>
    {{/each}}
    {{#each unavailableTrain}}
    <div class="card bg-dark text-white">
        <div class="card-body">
            <p><strong>Size</strong> : {{Size}}</p>
            <p><strong>Seat</strong>: {{AvailableSeat}} </p>
            <p><strong>Color</strong> : {{Color}}</p>
            <p><strong>Available For Work</strong> : {{TrainAvailable}}</p>
        </div>
        <form method="POST" action="/api/login/manager/train/checkIn/{{_id}}?_method=PUT">
            <button class="btn btn-dark" type="submit">Available for Work</button>
        </form>
        <hr>
    </div>
    {{/each}}
</div>